/*
 __   __        _      _    _         
 \ \ / /_ _ _ _(_)__ _| |__| |___ ___ 
  \ V / _` | '_| / _` | '_ \ / -_|_-< 
   \_/\__,_|_| |_\__,_|_.__/_\___/__/ 
  ___ ___ ___ ___ ___ ___ ___ ___ ___ 
 |___|___|___|___|___|___|___|___|___|

 Here we are presented the different variables which can be changed to suit different styles in
 this document "menu.scss"

 */

 // Importing Variables from foundation scss
 @import "../../utilities/_library.scss";
 @use "sass:map";


/*


  __  __                      _   _ ___           
 |  \/  | ___ _ __  _   _    | | | |_ _|          
 | |\/| |/ _ \ '_ \| | | |   | | | || |           
 | |  | |  __/ | | | |_| |   | |_| || |           
 |_|  |_|\___|_| |_|\__,_|    \___/|___|          
  _____ _____ _____ _____ _____ _____ _____ 
 |_____|_____|_____|_____|_____|_____|_____|
  
 This the the scss document for the styling for the GridMenu.js component, here the main theme off
 the app is chosen from the variables listed above, be careful with how you change CSS here. 

 Todo:
  - Create a Mobile/Desktop friendly MENU UI

 
 */

 $selected-UI: $light-ui;

.topnav {
border-bottom: 8px solid rgba(0, 0, 0, 0.034);
}
.topnav > a.active:not(:first-child) {
  background: rgba(12, 77, 255, 0.158);

}
.topnav a {
  float: left;
  display: block;
  color: map-get($map: $selected-UI, $key: "accent-color" );
  padding: 18px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.topnav a:first-child {
}
.topnav a:nth-child(6), a:nth-child(7){
  float: right;
  margin-right: 15px;
}


.topnav a:hover {
  color: rgb(88, 88, 88);
}

.topnav .active {
  color: map-get($map: $selected-UI, $key: "primary-color");
  font-weight: bold;
}

.topnav .icon {
  display: none;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
  color: map-get($map: $selected-UI, $key: "primary-color" );
}

@media screen and (max-width: 800px) {
  .topnav.responsive > a.active:not(:first-child) {
    border: 1px solid rgba(0, 0, 0, 0.096);
    border-bottom: 8px solid rgba(0, 0, 0, 0.034);
    padding-left: 25px;
    font-weight: underline;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.041);
    text-shadow: 1px;
  }

  .topnav a:not(:first-child)
 {display: none;
  

}
  .topnav button.icon {
    float: right;
    display: block;
    background: none;
    border: none;
    padding-top: 12px;
    padding-right: 20px;
    transform: scale(1.25);
  }
  .topnav button.icon:focus {
    outline: none;
    
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    color: map-get($map: $selected-UI, $key: "primary-color" );
    transform: scale(1.25);
  }


  #myTopnav >  .topnav a:not(:first-child) .active {
    border: 5px solid red;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

  }

}

 /*

 __  __                    ___                         
 |  \/  | ___ _ __  _   _  |_ _|_ __  _ __   ___ _ __   
 | |\/| |/ _ \ '_ \| | | |  | || '_ \| '_ \ / _ \ '__|  
 | |  | |  __/ | | | |_| |  | || | | | | | |  __/ |     
 |_|  |_|\___|_| |_|\__,_| |___|_| |_|_| |_|\___|_|     
  Second DIV box with-in the DynamicMenu DIV called
              "DynamicMenuInner"
  _____ _____ _____ _____ _____ _____ _____ _____ _____ 
 |_____|_____|_____|_____|_____|_____|_____|_____|_____|
 */
 
 div.DynamicMenuInner {
   display: flex;
 }

 div.DynamicMenuInner.DynamicMenuItem {
   flex: 1;
 }
