div.styleContainerSignup {
width: 90%;
padding-left: 40px;
    p.highlighted {
        color: #ff3a75f5;
        font-weight: bold;
        display: inline-flex;
        font-size: 20px;
    }

    div.sectionText {
        h1 {
            margin-bottom: -20px;
        }
    }

    p.nextOne, p.lastOne {
        display: inline-flex;
        margin-left: 20px;
        font-size: 16px;
    }
    div.masterContainer {
        display: inline-flex;
        flex-direction: row-reverse;
        height: 100%;
        border-radius: 9px;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }

    div.react-datepicker {
        font-weight: normal;
    }

    div.birth_date input {
        width: calc(100% + 7%);
    }

    div.login {
        display: flex;
        flex-direction: column;
        margin: 1% 0;
        width: 50%;
        margin-right: 35px;
    }

    
    div.picture {
        display: flex;
        flex-direction: column;
        margin-right: 120px;
        width: 50%;
        
    }
    div.picture svg {
        width: 900px;
        height: 450px;
        transition: width 0.5s;
    }

    .inputAvatar {
        font-weight: bold;
        color: #ff3a75f5;
    }

    button.formbutton {
        background: #ff3a75f5;
        padding: 20px 15px;
        border: 2px solid #ff3a75a4;
        border-radius: 5px;
        margin-top: 20px;
        width: 120px;
        color: #ff3a75f5;
        font-weight: bold;
        transition: background 2s;
        color: white;
    }

    button.formbutton:nth-child(1) {
        background: linear-gradient(to top, #e8edf1 0%, white 100%);
        color: #ff3a75f5;
    }
    button.formbutton:hover {
        background: #ec3c70f1;
        color: white;
        cursor: pointer;
    }
    button.formbutton:focus {
        outline: none;
    }
    .inputAvatar label {
        color: #ff004cf5;
    }

    .inputAvatar {
        margin-bottom: 5px;
    }

    div.field {
        margin-top: 15px;
    }
    div.login input, select {
        border: none;
        border-bottom: 2px solid rgba(128, 128, 128, 0.281);
        background: transparent;
        font-size: 16px;
        color: #ff3a75f5;
        margin-bottom: 4px;
    }


    h1.sectionHeader {
        color: #ff3a75f5;
        font-size: 70px;
    }

    p.sectionDescription {
        color: rgba(128, 128, 128, 0.739);
        font-size: 19px;
    }

    select {
        margin-top: 35px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        overflow: scroll !important;
        z-index: 3;
    }

    select:hover {
        cursor: pointer;
    }
    @media only screen and (max-width: 1500px) { 

        h1.sectionHeader {
            color: #ff3a75f5;
            font-size: 50px;
        }

        div.login {
            width: 50%;
        }

        div.picture svg {
            width: 420px
        }
        p.sectionDescription {
            color: rgba(128, 128, 128, 0.739);
            font-size: 19px;
        }

        div.masterContainer {
            
        }
    
    }
    @media only screen and (max-width: 1180px) { 
    

        div.picture svg {
            width: 450px;
            height: 350px;
        }
    }

    @media only screen and (max-width: 1100px) { 
    

        div.picture svg {
            width: 400px;
            height: 350px;
        }
    }
    @media only screen and (max-width: 1065px) { 
    

        div.picture svg {
            width: 400px;
            height: 350px;
        }
    }

    @media only screen and (max-width: 855px) { 
        div.picture svg{
            width: 130%;
            display: none;
        }
        div.picture {
            display: none;
            content: '';
        }
    
    }

    @media only screen and (max-width: 700px) { 

        p.sectionDescription {
            color: rgba(128, 128, 128, 0.739);
            font-size: 19px;
        }
        div.page-detail {
            display: none;
        }

        div.sectionText {
            margin-top: 140px;
        }
        div.masterContainer {
            display: flexbox;
            flex-direction: column-reverse;
            height: 100%;
            width: 85%;
            margin-top: -140px;
        }


        div.login {
            width: 90%;
        }

        div.login input {
            width: 100%;
            
        }
        div.login p {
            width: 100%;
        }

        h1.sectionHeader {
            width: 100%;
        }
    }

    @media only screen and (max-width: 400px) { 
        h1.sectionHeader {
            font-size: 30px;
        }
        div.masterContainer {
            width: 95%;
            height: 1000px;
        }
        div.picture svg {
            width: 280px;
            height: 300px;
        }

        div.picture {
            margin-right: -40px;
        }
    }

    @media only screen and (max-width: 350px) { 
        
        div.picture svg {
            width: 250px;
            height: 300px;
        }

        div.picture {
            margin-right: -50px;
        }

    }


    // Form CSS
    div.birth_date {
        z-index: 2;
    }

    div.birth_date svg {
        display: block;
    }
    form {
        width: 100%;
        float: left;
        margin-top: 20px;
        > div:not(.react-datepicker, #areaSlc) {
        position: relative;
        }
        input, textarea {
        width: 100%;
        border: 2px solid gray; 
        background: transparent;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 8px 12px;
        outline: 0;
        &:valid {
            // Hides the label

        }

        &:not(:valid) {
            background: rgba(214, 214, 214, 0.342);
        }
        &:focus {
            border-color: #ff3a75f5;
        }
        &:focus + label {
            background: #ff3a75f5;
            color: white;
            font-size: 70%;
            padding: 1px 6px;
            z-index: 2;
            text-transform: uppercase;
        }
        &::placeholder {
            color: rgba(128, 128, 128, 0.411);
        }
        }
        label {
        transition: // not padding
            background 0.2s,
            color 0.2s,
            top 0.2s,
            bottom 0.2s,
            right 0.2s,
            left 0.2s;
        position: absolute;
        padding: 2px 29px;
        }
        textarea {
        display: block;
        resize: vertical;
        }
    }
    
    form.go-bottom {
        input, textarea {
        }
        label {
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        }
        input:focus, textarea:focus {
        padding: 4px 6px 20px 6px; 
        }
        input:focus + label, textarea:focus + label {
        top: 100%;
        margin-top: -16px;
        }
    }
    form.go-right {
        label {
        top: 2px;
        right: 100%;
        width: 100%;
        margin-right: -100%;
        bottom: 2px;
        }
        input:focus + label, textarea:focus + label {
        right: 0;
        margin-right: 0;
        width: 40%;
        padding-top: 5px;
        }
    }

}

button.formbutton {
    display: inline-block;
    margin-right: 15px;
}
small {
    display: block;
    color: rgba(128, 128, 128, 0.753);
    margin-top: 10px;
}







// REACT DATE PICKER STUFF
