.drawerUpper a {
    text-decoration: none;
}

.drawerUnder a {
    text-decoration: none;
}


.drawerUpper div.MuiListItemText-root > span {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 32px;
}

.drawerUpper {
    background-color:rgb(250, 97, 51);
    width: calc(100% + 20px);
    transition: width 1s;
}

.drawerUpper:hover {
    background-color:rgb(218, 89, 49);
    width: calc(100% + 50px);
}

div.MuiBackdrop-root {
    backdrop-filter: 5px;
}

div.MuiListItemText-root > span {
    font-size: 18px;
}   
body > div.MuiDrawer-root{
    background-color: rgba(0, 0, 0, 0.226);
}
#root > div > div > div > div.content-nav > div > div > a > button > span.MuiButton-label > svg {

}
#root > div > div > div > div.content-nav > div > button { 
    height: 100%;
    width: 100%;
}

#root > div > div > div > div.content-nav > div > button:hover { 
    background-color: rgba(0,0,0,0.1);
}

div.listFooterAddress p {
    margin-top: -10px;
}

div.navbarMenu {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.178);
}


div.navbarMenu a {
    text-decoration: none;
    color: white;
}

div.navbarMenu button {
    height: 100%;
}
div.MuiPaper-root {
 // Root for drawer
 background-color: rgba(255, 255, 255, 0.911);
}

div.MuiPaper-root a, p, span, h1, h2, h3, h4 {
    color: rgb(37, 33, 33);
}
svg.activeNavExplore {
    color: rgba(250, 103, 58, 0.931);
    backdrop-filter: drop-shadow(4px 4px 10px blue);
}

