/*
/$$$$$$$$                     /$$                                      /$$$$$$                            /$$
| $$_____/                    | $$                                     /$$__  $$                          | $$
| $$       /$$   /$$  /$$$$$$ | $$  /$$$$$$   /$$$$$$   /$$$$$$       | $$  \__/  /$$$$$$   /$$$$$$   /$$$$$$$
| $$$$$   |  $$ /$$/ /$$__  $$| $$ /$$__  $$ /$$__  $$ /$$__  $$      | $$       |____  $$ /$$__  $$ /$$__  $$
| $$__/    \  $$$$/ | $$  \ $$| $$| $$  \ $$| $$  \__/| $$$$$$$$      | $$        /$$$$$$$| $$  \__/| $$  | $$
| $$        >$$  $$ | $$  | $$| $$| $$  | $$| $$      | $$_____/      | $$    $$ /$$__  $$| $$      | $$  | $$
| $$$$$$$$ /$$/\  $$| $$$$$$$/| $$|  $$$$$$/| $$      |  $$$$$$$      |  $$$$$$/|  $$$$$$$| $$      |  $$$$$$$
|________/|__/  \__/| $$____/ |__/ \______/ |__/       \_______/       \______/  \_______/|__/       \_______/
                    | $$                                                                                      
                    | $$                                                                                      
                    |__/  */                                                                   

div.exploreCards {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    width: 100vw;
}